In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
#Step 2 - Read data from train.csv

df_train = pd.read_csv("train.csv")

print("Size of training set : {} rows and {} columns".format(*df_train.shape))

df_train.head()

Size of training set : 4209 rows and 378 columns

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Step3: Collect the Y values into an array

# seperate the y from the data as we will use this to learn as 
# the prediction output
y_train = df_train['y'].values

In [4]:
# Step4: Understand the data types we have

# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [5]:
# Step5: Count the data in each of the columns

counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [6]:
# Step6: Read the test.csv data

df_test = pd.read_csv('test.csv')

# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [7]:
# Step7: Check for null and unique values for test and train sets

def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [8]:
# Step8: If for any column(s), the variance is equal to zero, 
# then you need to remove those variable(s).
# Apply label encoder

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

<ipython-input-8-9fdc2c8730c7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[column] = x_train[column].apply(mapper)
<ipython-input-8-9fdc2c8730c7>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[column] = x_test[column].apply(mapper)

,X367,X118,X14,X302,X356,X299,X139,X305,X10,X190,...,X377,X196,X241,X220,X172,X380,X155,X261,X137,X267
0,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
# Step9: Make sure the data is now changed into numericals

print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [10]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [12]:
# Step11: Training using xgboost

import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[11:32:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	train-r2:-58.35295	valid-rmse:98.26297	valid-r2:-67.63754
[10]	train-rmse:81.27651	train-r2:-38.88428	valid-rmse:80.36433	valid-r2:-44.91014
[20]	train-rmse:66.71610	train-r2:-25.87403	valid-rmse:65.77334	valid-r2:-29.75260
[30]	train-rmse:54.86911	train-r2:-17.17722	valid-rmse:53.89136	valid-r2:-19.64525
[40]	train-rmse:45.24709	train-r2:-11.36097	valid-rmse:44.22322	valid-r2:-12.90218
[50]	train-rmse:37.44853	train-r2:-7.46723	valid-rmse:36.37614	valid-r2:-8.40622
[60]	train-rmse:31.14585	train-r2:-4.85695	valid-rmse:30.02252	valid-r2:-5.40732
[70]	train-rmse:26.08417	train-r2:-3.10795	valid-rmse:24.91497	valid-r2:-3.41268
[80]	train-rmse:22.04313	train-r2:-1.93371	valid-rmse:20.83055	valid-r2:-2.08449
[90]	train-rmse:18.84671	train-r2:-1.14458	valid-rmse:17.59679	valid-r2:-1.20115
[100]	train-rmse:16.33357	train-r2:-0.61077	valid-rmse:15.07861	valid-r2:-0.61624
[110]	train-rmse:14.39532	train-r2:-0.25116	valid-rmse:13.14535	valid-r2:-0.22836
[120]	train-rmse:12.92322	train-r2:-0.00835	valid-rmse:11.68567	valid-r2:0.02929
[130]	train-rmse:11.81058	train-r2:0.15780	valid-rmse:10.61072	valid-r2:0.19967
[140]	train-rmse:10.97982	train-r2:0.27212	valid-rmse:9.84676	valid-r2:0.31076
[150]	train-rmse:10.36835	train-r2:0.35093	valid-rmse:9.31261	valid-r2:0.38351
[160]	train-rmse:9.91246	train-r2:0.40675	valid-rmse:8.95312	valid-r2:0.43019
[170]	train-rmse:9.57441	train-r2:0.44653	valid-rmse:8.70938	valid-r2:0.46079
[180]	train-rmse:9.32935	train-r2:0.47450	valid-rmse:8.54883	valid-r2:0.48049
[190]	train-rmse:9.14175	train-r2:0.49542	valid-rmse:8.44609	valid-r2:0.49290
[200]	train-rmse:8.99932	train-r2:0.51102	valid-rmse:8.38068	valid-r2:0.50072
[210]	train-rmse:8.89588	train-r2:0.52220	valid-rmse:8.34070	valid-r2:0.50548
[220]	train-rmse:8.82118	train-r2:0.53019	valid-rmse:8.31636	valid-r2:0.50836
[230]	train-rmse:8.75514	train-r2:0.53719	valid-rmse:8.30016	valid-r2:0.51027
[240]	train-rmse:8.70668	train-r2:0.54231	valid-rmse:8.29478	valid-r2:0.51091
[250]	train-rmse:8.65911	train-r2:0.54729	valid-rmse:8.29294	valid-r2:0.51112
[260]	train-rmse:8.62128	train-r2:0.55124	valid-rmse:8.28853	valid-r2:0.51164
[270]	train-rmse:8.59571	train-r2:0.55390	valid-rmse:8.28654	valid-r2:0.51188
[280]	train-rmse:8.56644	train-r2:0.55693	valid-rmse:8.28802	valid-r2:0.51170
[290]	train-rmse:8.54167	train-r2:0.55949	valid-rmse:8.28774	valid-r2:0.51174
[300]	train-rmse:8.51070	train-r2:0.56268	valid-rmse:8.28393	valid-r2:0.51219
[310]	train-rmse:8.48811	train-r2:0.56500	valid-rmse:8.28536	valid-r2:0.51202
[320]	train-rmse:8.46580	train-r2:0.56728	valid-rmse:8.28440	valid-r2:0.51213
[330]	train-rmse:8.43868	train-r2:0.57005	valid-rmse:8.28139	valid-r2:0.51248
[340]	train-rmse:8.41760	train-r2:0.57219	valid-rmse:8.27856	valid-r2:0.51282
[350]	train-rmse:8.39390	train-r2:0.57460	valid-rmse:8.27741	valid-r2:0.51295
[360]	train-rmse:8.36953	train-r2:0.57707	valid-rmse:8.27880	valid-r2:0.51279
[370]	train-rmse:8.33835	train-r2:0.58021	valid-rmse:8.27389	valid-r2:0.51337
[380]	train-rmse:8.31431	train-r2:0.58263	valid-rmse:8.27056	valid-r2:0.51376
[390]	train-rmse:8.28820	train-r2:0.58525	valid-rmse:8.26540	valid-r2:0.51436
[400]	train-rmse:8.26479	train-r2:0.58758	valid-rmse:8.26050	valid-r2:0.51494
[410]	train-rmse:8.23629	train-r2:0.59042	valid-rmse:8.25890	valid-r2:0.51513
[420]	train-rmse:8.21062	train-r2:0.59297	valid-rmse:8.25825	valid-r2:0.51521
[430]	train-rmse:8.18716	train-r2:0.59530	valid-rmse:8.25915	valid-r2:0.51510
[440]	train-rmse:8.16365	train-r2:0.59762	valid-rmse:8.25929	valid-r2:0.51508
[450]	train-rmse:8.13867	train-r2:0.60008	valid-rmse:8.25903	valid-r2:0.51511
[460]	train-rmse:8.11298	train-r2:0.60260	valid-rmse:8.26046	valid-r2:0.51495
[464]	train-rmse:8.10510	train-r2:0.60337	valid-rmse:8.25923	valid-r2:0.51509

In [13]:
# Step12: Predict your test_df values using xgboost

p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1   83.326149
1   2   97.446602
2   3   83.468216
3   4   77.013138
4   5  112.577080